body {
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
    font-family: 'Varela', sans-serif;
  }
#map {
    height: 400px;
    width: 100%;
}
.row {
    margin-bottom: 0;
}
header .brand-logo{
    font-family: 'Amita', cursive;
    font-size:3.1rem;
    /*padding-top: 10px;*/
    padding-left:10px;
    line-height:4.1rem;
}
#headerSearch .input-field{
    border-bottom: white;
}
.nav-wrapper {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
input#city{
    border-bottom: white 1px solid;
}
input#restaurant{
    border-bottom: white 1px solid;
}
.select-wrapper input.select-dropdown {
    color: white;
    border-bottom: white 1px solid;
}
.waves-effect.waves-blue{
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(59, 38, 175, 0.65);
   }

.cuisineOptionBox{
    font-size:16px;
    color:#26a69a;
    display:block;
    line-height:22px;
    padding:14px 16px;
}
.searchDiv{
    margin-top:20px;
}
label {
    color: black;
}

#zomatoAPI{
    padding-left:25px;
    /*text-align: center;*/
}
div#photo.row{
    min-height:150px;
    background-color:lightgray;
}
.restaurantImage{
    max-width: 300px;
    margin-left:20px;
}
div#listingDetails.row{
    min-height:150px;
    background-color: lightpink;
}
#restaurants-big{
    min-height:50px;
    font-size: 1.5em;
}
div#notes.row.pink{
    min-height:150px;
}
#restaurant-info{
    
}
.tabs{
    background-color:#aed581;
}
.tabs .tab a{
    font-size:10px;
}
.tabs :hover{
    background-color:#9ccc66;
}
#modalBtnNotes{
    margin-top: -25px;
}