#map {
    height: 400px;
    width: 100%;
}
nav .brand-logo{
    font-family: 'Amita', cursive;
    font-size:3.1rem;
    line-height:4.1rem;
}
.nav-wrapper {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
html {
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
  }
.waves-effect.waves-blue{
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(59, 38, 175, 0.65);
   }
#listing{

}
.cuisineOptionBox{
    font-size:16px;
    color:#26a69a;
    display:block;
    line-height:22px;
    padding:14px 16px;
}
.searchDiv{
    margin-top:20px;
}
label {
    color: black;
}